.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-tab {
  list-style-type: none;
  padding: 0;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
  text-align: left;
}

.nav-tab li {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: rgba(0,0,0,.5);
  padding: 10px;
  line-height: 28px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  text-align: center;
}

.nav-tab li.active {
  color: #64b305;
  font-weight: bold;
  border-bottom: 5px solid #64b305;
}

.table-wrap h1{
  font-size: 36px;
  color: #28304c;
  font-weight: bold;
  line-height: 48px;
  text-align: left;
}

.table-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  display: block;
}

.react-date-picker__inputGroup {
  display: none;
}

.price-btn {
  cursor: pointer;
}

.price-list {
  list-style-type: none;
  text-align: left;
}

.image-wrap {
  text-align: left;
}

.table-wrapper-cont {
  overflow-x: auto;
}


@media only screen and (min-width: 800px) and (max-width: 1200px){

.table-wrap {
  padding: 0 20px;
}
.header-wrapper {
  padding: 0 20px;
}
.nav-tab li {
  width: 33.33%;
}
}

@media only screen and (max-width: 799px){
  .nav-tab li {
    width: 100%;
  }
}