.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-tab {
  list-style-type: none;
  padding: 0;
  width: 50%;
}

.nav-tab li {
  width: 33.33%;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: rgba(0,0,0,.5);
  padding: 0 10px;
  line-height: 28px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  text-align: center;
}

.nav-tab li.active {
  color: #64b305;
  font-weight: bold;
  border-bottom: 5px solid #64b305;
}

.table-wrap h1{
  font-size: 36px;
  color: #28304c;
  font-weight: bold;
  line-height: 48px;
  text-align: left;
}

.table-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  display: block;
}

.react-date-picker__inputGroup {
  display: none;
}

.price-btn {
  cursor: pointer;
}

.price-list {
  list-style-type: none;
  text-align: left;
}

.image-wrap {
  text-align: left;
}